In [1]:
import psycopg2
import pandas
from pprint import pprint
print("ABUNENE Kingsley 18CJ024097")
print("PYTHON WRITTEN SQL QUERY TO FETCH PUT AND MODIFY DATA IN A DATABASE")

ABUNENE Kingsley 18CJ024097
PYTHON WRITTEN SQL QUERY TO FETCH PUT AND MODIFY DATA IN A DATABASE

In [10]:
#connect to db
con = psycopg2.connect(
        host = "localhost",
        database="postgres",
        user="postgres",
        password="allow",
        port=5432
)

#cursor
cur=con.cursor()
#CREATE TABLE
create_table = """                  
        create table mytest.population(
              Country varchar NOT NULL, 
              year float NOT NULL, 
              year1 float NOT NULL, 
              year2 float NOT NULL, 
              year3 float NOT NULL, 
              year4 float NOT NULL, 
              year5 float NOT NULL, 
              year6 float NOT NULL, 
              year7 float NOT NULL, 
              year8 float NOT NULL            
         )
     """ #execute query
cur.execute(create_table)

#add values to table (PUT)
def input_values(data):
        try:
                for (index, row) in data.iterrows():
                        insert_sql_query = f'''
                                insert into mytest.population (Country, year, year1, year2, year3, year4, year5, year6, year7, year8)
                                values('{row['Country'].replace("'", " ")}'
                                , '{row['2010']}'
                                , '{row['2011']}'
                                , '{row['2012']}'
                                , '{row['2013']}'
                                , '{row['2014']}'
                                , '{row['2015']}'
                                , '{row['2016']}'
                                , '{row['2017']}'
                                , '{row['2018']}'
                                )'''

                        cur.execute(insert_sql_query)
        except psycopg2.errors.UniqueViolation:
                print('data already exist, add new data')
                pass
data_csv = pandas.read_csv('main.csv')
input_values(data_csv)

#FETCH
cur.execute("SELECT * from mytest.Population")
rows=cur.fetchall()
for r in rows:
        print(r)

#MODIFY
cur.execute("UPDATE mytest.population SET year=100586 WHERE Country='Chad'")
print('Modified items are moved to end of table')

#FETCH
cur.execute("SELECT * from mytest.Population")
rows=cur.fetchall()
for r in rows:
        print(r)
#DELETE TABLE
cur.execute("DROP TABLE mytest.population")
#to apply change
con.commit()
#close crusor
cur.close()
#close connection
con.close()

('Botswana', 94828.0, 96707.0, 99000.0, 99500.0, 99991.0, 100822.0, 101079.0, 101668.0, 102257.0)
('Cameroon', 39500.0, 40598.0, 42000.0, 41500.0, 42533.0, 43389.0, 43945.0, 44648.0, 45319.0)
('Central African Republic', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Chad', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Congo, Dem. Rep.', 55000.0, 56000.0, 57000.0, 57500.0, 57854.0, 59215.0, 59918.0, 60787.0, 61657.0)
('Congo, Rep.', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Equatorial Guinea', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Egypt', 4502.0, 4718.0, 5000.0, 5000.0, 5058.0, 5034.0, 5088.0, 5154.0, 5221.0)
('Equatorial Guinea', 33924.0, 35000.0, 36000.0, 36000.0, nan, 38911.0, 40073.0, 41157.0, 42242.0)
('Eritrea', 65000.0, 64464.0, 62000.0, 63000.0, 62042.0, 46507.0, 57183.0, 55244.0, 52978.0)
('Gabon', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Burundi', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Lesotho', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Zambia', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Madagascar', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Benin', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('South Africa', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Swaziland', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Malawi', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Angola', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Ethiopia', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Djibouti', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Seychelles', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('South Sudan', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Comoros', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Tunisia', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Lesotho', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Tanzaniaa', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Ghana', 155.0, 162.0, 170.0, 170.0, 171.0, 182.0, 183.0, 186.0, 190.0)
('Uganda', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Guinea-Bissau', 58000.0, 58000.0, 100000.0, 100000.0, 91805.0, 85940.0, 87659.0, 88571.0, 89483.0)
('Libya', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Rwanda', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Mauritania', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Sudan', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Algeria', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Kenya', 18240.0, 18525.0, 18500.0, 18500.0, 18594.0, 18694.0, 18760.0, 18726.0, 18692.0)
('Somalia', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Malawi', 350.0, 356.0, 361.0, 366.0, 370.0, 375.0, 382.0, 389.0, 393.0)
('Morocco', 120.0, 123.0, 125.0, 130.0, 132.0, 135.0, 138.0, 141.0, 144.0)
('Mozambique', 8600.0, 8832.0, 9000.0, 9000.0, 9147.0, 9667.0, 9860.0, 10062.0, 10264.0)
('Namibia', 330000.0, 334880.0, 338000.0, 350000.0, 355494.0, 358729.0, 359671.0, 363043.0, 366414.0)
('Sao Tome and Principe', 200.0, 141.0, 123.0, 107.0, 110.0, 100.0, 120.0, 110.0, 110.0)
('Togo', 1050.0, 1119.0, 1150.0, 1100.0, 957.0, 800.0, 700.0, 800.0, 843.0)
('Zimbabwe', 1200.0, 1200.0, 1200.0, 1200.0, 1200.0, 1200.0, 1200.0, 1200.0, 1200.0)
Modified items are moved to end of table
('Botswana', 94828.0, 96707.0, 99000.0, 99500.0, 99991.0, 100822.0, 101079.0, 101668.0, 102257.0)
('Cameroon', 39500.0, 40598.0, 42000.0, 41500.0, 42533.0, 43389.0, 43945.0, 44648.0, 45319.0)
('Central African Republic', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Congo, Dem. Rep.', 55000.0, 56000.0, 57000.0, 57500.0, 57854.0, 59215.0, 59918.0, 60787.0, 61657.0)
('Congo, Rep.', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Equatorial Guinea', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Egypt', 4502.0, 4718.0, 5000.0, 5000.0, 5058.0, 5034.0, 5088.0, 5154.0, 5221.0)
('Equatorial Guinea', 33924.0, 35000.0, 36000.0, 36000.0, nan, 38911.0, 40073.0, 41157.0, 42242.0)
('Eritrea', 65000.0, 64464.0, 62000.0, 63000.0, 62042.0, 46507.0, 57183.0, 55244.0, 52978.0)
('Gabon', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Burundi', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Lesotho', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Zambia', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Madagascar', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Benin', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('South Africa', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Swaziland', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Malawi', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Angola', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Ethiopia', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Djibouti', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Seychelles', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('South Sudan', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Comoros', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Tunisia', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Lesotho', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Tanzaniaa', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Ghana', 155.0, 162.0, 170.0, 170.0, 171.0, 182.0, 183.0, 186.0, 190.0)
('Uganda', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Guinea-Bissau', 58000.0, 58000.0, 100000.0, 100000.0, 91805.0, 85940.0, 87659.0, 88571.0, 89483.0)
('Libya', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Rwanda', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Mauritania', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Sudan', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Algeria', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Kenya', 18240.0, 18525.0, 18500.0, 18500.0, 18594.0, 18694.0, 18760.0, 18726.0, 18692.0)
('Somalia', nan, nan, nan, nan, nan, nan, nan, nan, nan)
('Malawi', 350.0, 356.0, 361.0, 366.0, 370.0, 375.0, 382.0, 389.0, 393.0)
('Morocco', 120.0, 123.0, 125.0, 130.0, 132.0, 135.0, 138.0, 141.0, 144.0)
('Mozambique', 8600.0, 8832.0, 9000.0, 9000.0, 9147.0, 9667.0, 9860.0, 10062.0, 10264.0)
('Namibia', 330000.0, 334880.0, 338000.0, 350000.0, 355494.0, 358729.0, 359671.0, 363043.0, 366414.0)
('Sao Tome and Principe', 200.0, 141.0, 123.0, 107.0, 110.0, 100.0, 120.0, 110.0, 110.0)
('Togo', 1050.0, 1119.0, 1150.0, 1100.0, 957.0, 800.0, 700.0, 800.0, 843.0)
('Zimbabwe', 1200.0, 1200.0, 1200.0, 1200.0, 1200.0, 1200.0, 1200.0, 1200.0, 1200.0)
('Chad', 100586.0, nan, nan, nan, nan, nan, nan, nan, nan)